node-red-flows.json
[{"id":"e1a58a93.ccd438","type":"tab","label":"Temp Logger","disabled":false,"info":""},{"id":"db7099f9.37af58","type":"mqtt in","z":"e1a58a93.ccd438","name":"","topic":"sensor/data/temperature/#","qos":"2","datatype":"auto","broker":"71fcbe78.46c79","x":151,"y":79,"wires":[["bcf320c4.b456a8","288566ea.61ac2a"]]},{"id":"bcf320c4.b456a8","type":"function","z":"e1a58a93.ccd438","name":"","func":"var timestamp = Math.floor(Date.now() / 1000);\nvar Deviceid = 'NODE1';\nvar Sensorid = 'SENSOR1'\nmsg.topic = \"INSERT INTO DATA(TIMESTAMP, VALUE, DEVICEID, SENSORID) VALUES ( \"+\n            timestamp + \", \" + msg.payload + \", '\" + Deviceid + \"', '\" + Sensorid + \"');\";\nreturn msg;","outputs":1,"noerr":0,"x":271.5,"y":157,"wires":[["84b2d712.89b9e8"]]},{"id":"84b2d712.89b9e8","type":"mysql","z":"e1a58a93.ccd438","mydb":"4149a445.6318ac","name":"","x":386.5,"y":258,"wires":[[]]},{"id":"67dac8ee.d0d9e","type":"ping","z":"e1a58a93.ccd438","name":"","host":"192.168.0.102","timer":"30","x":120.5,"y":348,"wires":[["6cd191f2.cdbf38","504f9d0b.71e164"]]},{"id":"ba175400.249e7","type":"mysql","z":"e1a58a93.ccd438","mydb":"4149a445.6318ac","name":"","x":386.02264404296875,"y":463,"wires":[[]]},{"id":"6cd191f2.cdbf38","type":"function","z":"e1a58a93.ccd438","name":"","func":"var timestamp = Math.floor(Date.now() / 1000);\nvar pingtime;\nvar isactive;\nif (msg.payload === false){\n    isActive = false;\n    pingtime = 10000;\n}\nelse{\n    isActive = true\n    pingtime = msg.payload;\n}\n\nmsg.topic = \"INSERT INTO DEVICE_STATUS(TIMESTAMP, ISACTIVE, PINGTIME) VALUES( \" +\n            timestamp + \", \" + isActive + \", \" + pingtime + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":271.5,"y":404,"wires":[["ba175400.249e7"]]},{"id":"71988b19.230304","type":"mqtt in","z":"e1a58a93.ccd438","name":"","topic":"/CHECK","qos":"2","datatype":"auto","broker":"71fcbe78.46c79","x":650.5,"y":246,"wires":[["1a0599dd.dc9e76"]]},{"id":"a84cc035.a5e9a","type":"mqtt out","z":"e1a58a93.ccd438","name":"","topic":"/CHECK","qos":"","retain":"","broker":"71fcbe78.46c79","x":705.5,"y":158,"wires":[]},{"id":"ca1ddc94.d150c","type":"inject","z":"e1a58a93.ccd438","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":611.5,"y":71,"wires":[["a84cc035.a5e9a"]]},{"id":"e996aed9.fc826","type":"mysql","z":"e1a58a93.ccd438","mydb":"4149a445.6318ac","name":"","x":799,"y":391,"wires":[[]]},{"id":"1a0599dd.dc9e76","type":"function","z":"e1a58a93.ccd438","name":"","func":"var timestamp = Math.floor(Date.now() / 1000);\nif (timestamp*1000 - msg.payload > 5000){\n    isActive = false;\n}\nelse{\n    isActive = true\n}\n\nmsg.topic = \"INSERT INTO BROKER_STATUS(TIMESTAMP, ISACTIVE) VALUES( \" +\n            timestamp + \", \" + isActive + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":332,"wires":[["e996aed9.fc826"]]},{"id":"b95531d1.69c69","type":"function","z":"e1a58a93.ccd438","name":"DELETE ALL","func":"msg.topic = \"DELETE FROM DATA; DELETE FROM DEVICE_STATUS; DELETE FROM BROKER_STATUS;\";\nreturn msg;","outputs":1,"noerr":0,"x":116.88671875,"y":265.51953315734863,"wires":[["84b2d712.89b9e8"]]},{"id":"901d049f.c308e8","type":"inject","z":"e1a58a93.ccd438","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99.8984375,"y":186.95703411102295,"wires":[["b95531d1.69c69"]]},{"id":"288566ea.61ac2a","type":"debug","z":"e1a58a93.ccd438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":389.88671875,"y":95.70703125,"wires":[]},{"id":"504f9d0b.71e164","type":"debug","z":"e1a58a93.ccd438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":364,"y":335,"wires":[]},{"id":"71fcbe78.46c79","type":"mqtt-broker","z":"","name":"MQTT BROKER","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4149a445.6318ac","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""}]