03. CO_NODE/CO_API_Dataflow_Nodered.json
[{"id":"e3f29b8b.b21e58","type":"tab","label":"CO GPS ","disabled":false,"info":""},{"id":"4f3b605.a02bea","type":"http in","z":"e3f29b8b.b21e58","name":"","url":"/api/co","method":"post","upload":false,"swaggerDoc":"","x":327.8402862548828,"y":112.00694274902344,"wires":[["c44d7d18.46555"]]},{"id":"b123a476.bee318","type":"http response","z":"e3f29b8b.b21e58","name":"","statusCode":"","headers":{},"x":483.27430725097656,"y":192.25001525878906,"wires":[]},{"id":"7fadb07b.37575","type":"mysql","z":"e3f29b8b.b21e58","mydb":"4149a445.6318ac","name":"","x":216.2777862548828,"y":328.3611145019531,"wires":[["14b0f73a.fb9b29","b123a476.bee318"]]},{"id":"14b0f73a.fb9b29","type":"debug","z":"e3f29b8b.b21e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":337.8402862548828,"y":381.9028015136719,"wires":[]},{"id":"c44d7d18.46555","type":"function","z":"e3f29b8b.b21e58","name":"INSERT","func":"var timestamp = Math.floor(Date.now() / 1000);\nmsg.topic = \"INSERT INTO IOT.CO_DATA(TIME, DEVICE_ID, RAW_VALUE, VALUE, LATITUDE, LONGITUDE) VALUES (\" \n            + timestamp \n            + \",'\" + msg.payload.DeviceId \n            + \"',\" + msg.payload.RawValue \n            + \",\" + msg.payload.Value \n            + \",\" + msg.payload.Latittude\n            + \",\" + msg.payload.Longitude \n            + \");\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":281.83335876464844,"y":226.98959350585938,"wires":[["7fadb07b.37575"]]},{"id":"84e78912.4b98f8","type":"inject","z":"e3f29b8b.b21e58","name":"","topic":"DELETE FROM IOT.CO_DATA","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114.83680725097656,"y":445.9653015136719,"wires":[["7fadb07b.37575"]]},{"id":"4149a445.6318ac","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""}]