02. DUST_NODE/PM25_API_Dataflow_Nodered.json
[{"id":"e6d31f82.274e","type":"tab","label":"Room Sensor","disabled":false,"info":""},{"id":"b8bfe5a1.f38d38","type":"mqtt in","z":"e6d31f82.274e","name":"","topic":"/WEMOS/data/#","qos":"2","datatype":"auto","broker":"71fcbe78.46c79","x":154.01734924316406,"y":82.01041412353516,"wires":[["bfdf31b2.3c563"]]},{"id":"bfdf31b2.3c563","type":"function","z":"e6d31f82.274e","name":"","func":"var timestamp = Math.floor(Date.now() / 1000);\nvar sensorType = msg.topic.slice(12);\n\n\nmsg.topic = \"INSERT INTO ENVIRONMENT(type, value, timestamp) VALUES('\" +\n            sensorType + \"', \" + parseFloat(msg.payload) + \", \" + timestamp + \");\"; \n            \nmsg.payload = { \"type\" : sensorType, \"value\" : msg.payload, \"time\" : timestamp};\nreturn msg;","outputs":1,"noerr":0,"x":351.51734924316406,"y":151.01040649414062,"wires":[["30f3fa46.0b2346","29c0c8fd.662e58"]]},{"id":"30f3fa46.0b2346","type":"debug","z":"e6d31f82.274e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":657.0694885253906,"y":147.5972442626953,"wires":[]},{"id":"29c0c8fd.662e58","type":"mysql","z":"e6d31f82.274e","mydb":"4149a445.6318ac","name":"","x":443.0173645019531,"y":307.01041412353516,"wires":[[]]},{"id":"8ad2d767.091188","type":"function","z":"e6d31f82.274e","name":"DELETE ALL","func":"msg.topic = \"DELETE FROM ENVIRONMENT;\";\n//msg.topic = \"CREATE TABLE ENVIRONMENT(type varchar(20), value float, timestamp bigint);\"\nreturn msg;","outputs":1,"noerr":0,"x":173.01953125,"y":312.00390625,"wires":[["29c0c8fd.662e58"]]},{"id":"ddbe9c88.4c501","type":"inject","z":"e6d31f82.274e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156.03125,"y":233.44140720367432,"wires":[["8ad2d767.091188"]]},{"id":"71fcbe78.46c79","type":"mqtt-broker","z":"","name":"MQTT BROKER","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4149a445.6318ac","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"IOT","tz":""}]